---
layout: base
---

<div class="home">

  {% assign chapters = site.documentation | sort: 'order' %}

  <div class="documentation-items-wrapper">
    <div id="documentation-items" class="documentation-items">

      {% for chapter in chapters %}

      {% unless chapter.url contains 'section' %}

      <div class="documentation-item">
        <a href="{{ chapter.url | relative_url }}">
          {{chapter.order}}. {{ chapter.title }}
        </a>
      </div>

      {% endunless %}

      {% endfor %}
    </div>
  </div>
</div>
