---
layout: base
---

<article class="post documentation-single-article">
  <div class="documentation-single-article-header">
    <h1 class="post-title">{{ page.order }}. {{ page.title | escape }}</h1>
    <a href="{{ '/' | relative_url }}#documentation-items">
      <u>
        Return to menu
      </u>
    </a>
  </div>
  <div class="documentation-content post-content">
    {{ page.description }}

    {{ content }}

    ===================================

    {% module "documentation/chapter1.md" %}

    ==================================
    ==================================
    ==================================


    <div class="row">

      {% assign chapters = site.documentation | sort: "path" %}

      {% assign row_id = '' %}

      {% for chapter_part in chapters %}

      {% assign documentation_url = chapter_part.url | split: '/' | reverse %}

      {% if chapter_part.url contains 'section' %}

      {% if chapter_part.order-in-chapter == page.order %}

      {% if chapter_part.url contains 'title' %}
      <div class="w-100"></div>
      <div class="col-md-6">
        {{ chapter_part.output }}
      </div>
      <div class="w-100"></div>
      {% else %}
      {% if row_id != documentation_url[1] %}

      <div class="w-100"></div>

      {% endif %}
      <div class="col-md-6 col-lg-4 col-xl-3 mb-40">
        {{ chapter_part.output }}
      </div>

      {% endif %}

      {% endif %}

      {% endif %}

      {% assign row_id = documentation_url[1] %}

      {% endfor %}

    </div>
  </div>
</article>


{% if page.collection %}

{% assign chapters = site[page.collection] | sort: 'order' %}

{% for links in chapters %}

{% unless links.url contains 'section' %}

{% if links.title == page.title %}

{% unless forloop.first %}

{% assign prev_chapter_url = prev.url %}
{% assign prev_chapter_title = prev.title %}
{% assign prev_chapter_order = prev.order %}

{% endunless %}

{% unless forloop.last %}

{% assign next = chapters[forloop.index] %}
{% assign next_chapter_url = next.url %}
{% assign next_chapter_title = next.title %}
{% assign next_chapter_order = next.order %}

{% endunless %}

{% endif %}

{% assign prev = links %}

{% endunless %}

{% endfor %}

<div class="documentation-navigation">
  <div>
    {% if prev_chapter_url %}
    <a class="prev" href="{{ prev_chapter_url | relative_url}}">
      <u>
        Previous chapter
      </u>
      <div style="text-align: left; font-size: 16px;">
        {{prev_chapter_order}}. {{ prev_chapter_title }}
      </div>
    </a>
    {% endif %}
  </div>
  <div>
    <a href="{{ '/' | relative_url }}#documentation-items">
      <u>
        Return to menu
      </u>
    </a>
  </div>
  <div>
    {% if next_chapter_url %}
    <a class="next" href="{{ next_chapter_url | relative_url}}">
      <u>
        Next chapter
      </u>
      <div style="text-align: left; font-size: 16px;">
        {{next_chapter_order}}. {{ next_chapter_title }}
      </div>
    </a>
    {% endif %}
  </div>
</div>

{% endif %}
