---
layout: base
---

<div class="home">
  <div style="max-width: 900px; margin: 0 auto;">
    <div class="row">
      <div class="col-md-6">
        <div class="home-documentation-item" style="text-align: center">
          <a href="{{ '/mobile/' | relative_url }}">
            <img width="300" src="/assets/images/2/IMG_8148.png" alt="Mobile Documentation" class="">
            <div class="home-documentation-item-title">
              Mobile Documentation
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="home-documentation-item" style="text-align: center">
          <a href="{{ '/tablet/' | relative_url }}">
            <img width="300" src="/assets/images/2/IMG_8148.png" alt="Tablet Documentation" class="">
            <div class="home-documentation-item-title">
              Tablet Documentation
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
