---
layout: base
---

<div class="home">
  <div class="row">
    <div class="col-md-6">
      <div class="home-documentation-item">
        <a href="{{ '/mobile/' | relative_url }}">
          <div class="home-documentation-item-image">
            <img width="200" src="{{ site.baseurl }}/assets/images/2/IMG_8148.png" alt="Mobile Documentation" class="">
          </div>
          <div class="home-documentation-item-title">
            Mobile Documentation
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="home-documentation-item">
        <a href="{{ '/tablet/' | relative_url }}">
          <div class="home-documentation-item-image">
            <img width="200" src="{{ site.baseurl }}/assets/images/2/IMG_8151.png" alt="Tablet Documentation" class="">
          </div>
          <div class="home-documentation-item-title">
            Tablet Documentation
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
